<button type="button" class="btn btn-secondary" (click)="ngOnDestroy()">
  ngOnDestroy()
</button>

<button type="button" class="btn btn-secondary" (click)="addTimer()">
  Add timer
</button>

<div *ngFor="let t of timers">
  {{ interval$ | async }}
</div>


<form [formGroup]="bookForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label>ISBN</label>
    <input formControlName="isbn" type="text" class="form-control">
    <div *ngIf="bookForm.get('isbn').invalid && bookForm.get('isbn').dirty" class="feedback-red">
      ISBN ist ungültig
    </div>
    <div *ngIf="bookForm.get('isbn').hasError('minlength')" class="feedback-red">
      ISBN ist zu kurz, mindestens {{ bookForm.get('isbn').getError('minlength').requiredLength }} Zeichen erforderlich
    </div>
  </div>

  <div class="form-group">
    <label>Titel</label>
    <input formControlName="title" type="text" class="form-control">
  </div>

  <ul>
    <li *ngFor="let b of results$ | async">{{ b.title }}</li>
  </ul>

  <div class="form-group">
    <label>Beschreibung</label>
    <input formControlName="description" type="text" class="form-control">
  </div>

  <div class="form-group">
    <button [disabled]="bookForm.invalid" type="submit" class="btn btn-danger">Abschicken</button>
  </div>
</form>


<pre>
{{ bookForm.value | json }}
</pre>
